$orange: #ff5f01;
$yellow:#FCCA02;
$dark-gray:#3C3C3B;


@mixin ring($taille, $couleur) {
  display: inline-block;
  width: $taille;
  height: $taille;
  border-radius: $taille / 2;
  border-color:$couleur;
  border-width: $taille / 13;
  border-style: solid;
  box-shadow: $taille/35 $taille/30 $taille/30 darken( $couleur, 10% );
}
.precious{
  align-items: center;
  margin:20px 0;
}
.ring{
  @extend .precious;
}
.find{
  @extend .precious;
}
.find{
  .col-12{
    margin:20px 0;
  }
}
.precious span{
  @include ring(40px, $orange);
}
.ring span{
  @include ring(125px, $yellow);
}
@for $i from 1 through 6 {
  .find span:nth-child(#{$i}) {
    @include ring($i * 15px, $dark-gray);
    margin:0 -$i*2px;
  }
}
